dataset
Segment_data
result.txt
__pycache__
Segment_data.zip
Mask-RCNN-TF2 
dataset_new
requirements.txt
NewMask
deleted
tumorfeatures.csv
values.csv
featuresvalues.csv
/home/adithya/Document/Major_Proj/Mask-RCNN-TF2/kangaroo-transfer-learning
test.ipynb
featuresvalues_new.csv
featuresvalues_nomask.csv
FNN_Radio_checkpoint_1.pth
FNN_Radio_checkpoint_2.pth
FNN_Radio_checkpoint_3.pth
FNN_Radio_checkpoint_4.pth
FNN_Radio_checkpoint_5.pth
FNN_Radio_checkpoint.pth
model
tumorfeaturesvalues_new.csv
tumorfeatures_nomask.csv
Segmentation_MRCNN
Segmentation_MRCNN.zip
metrics_compare.png
metrics_compare.png:Zone.Identifier
Segment_data_1
tumorfeaturesvalues_new2D_automated_50.csv
tumorfeaturesvalues_new2D_automated_60.csv
tumorfeaturesvalues_new2D_automated_70.csv
tumorfeaturesvalues_new2D_automated.csv
tumorfeaturesvalues_new2D.csv
model_weights.pth
check.csv
featuresvalues_new2D_automated.csv
featuresvalues_new2D.csv
Automated_data




